body{
    background-color: white;
    margin: auto;
    text-align: center;
}

h1 {
    margin: 20px;
}

#filecontent { 
    width: 75%;
    padding: 10px;
    border: 2px solid gray;
    margin: auto;
    text-align: center;
    
}  

input {  
    text-align: center;
    margin: 10px; 
}
#custommenu{
    width: 10%;
    padding: 10px;
    border: 2px solid white;
    margin: auto;
   
}
ul.b{
    list-style-position: inside;
}

li {
    background: #cce5ff;
    margin: 5px;
}

